<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kpmb</title>
    <h1>KOLEJ PROFESIONAL MARA BERANANG</h1>
    <h3>Welcome</h3>

    <ul>
        <li><a>COURSE</a></li>
            <ul>
                <li><a href="course">Course</a></li>
                <li><a>Search Course</a></li>
            </ul>

        <li>STUDENT</li>
    </ul>

</head>
<body>
    <style>
        body{background-color: aqua;}
    </style>
</body>
</html>